<footer class="p-3">
    <div class="container-fluid">
        <p class="m-0">&copy; <%= new Date().getFullYear() %> POAC. Todos os direitos reservados.</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="/public/js/bootstrap.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/bootstrap.bundle.js"></script>

<script src="/public/js/fileinput.js"></script>
<script src="/public/js/fileinput.min.js"></script>
<script src="/public/js/locales/pt-BR.js"></script>


<script>
    $(document).ready(function() {
        
        $('#users_new #role').val(null);

        
        $('#role').select2({ });


        $('#products_new #categorias').val(null);
        
        $('#categorias').select2({ });

        $('.products_edit #categorias').select2();
    
        function generateCODE() {
            const uuid = Math.random().toString(36).substring(2, 10);
            return uuid.toUpperCase();
        }

        $('.products_new #code').val(generateCODE());

        $(".products_new #gallery_images").fileinput({
            theme: 'bs5', // Especifique o tema que deseja usar (por exemplo, 'fas' para Font Awesome)
            language: 'pt-BR', // Define o idioma para português do Brasil
            showRemove: true, // Adiciona botão de remoção para cada foto
            showUpload: false, // Define se o botão de upload deve ser exibido
            showUpload: false, // Define se o botão de upload deve ser exibido
            previewFileType: 'image', // Define o tipo de arquivo que deve ser pré-visualizado (neste caso, imagens)
            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif'], // Define as extensões de arquivo permitidas
            browseClass: 'btn btn-primary', // Define a classe do botão de navegação
            browseLabel: 'Selecionar imagens', // Define o rótulo do botão de navegação
            browseIcon: '<i class="bi bi-upload"></i>', // Define o ícone do botão de navegação
            maxFileCount: 10, // Define o número máximo de arquivos permitidos
            validateInitialCount: true, // Define se o número inicial de arquivos deve ser validado
            overwriteInitial: false, // Define se os arquivos iniciais devem ser substituídos
            initialPreviewAsData: true, // Define se as pré-visualizações iniciais devem ser tratadas como dados brutos
            initialPreviewFileType: 'image', // Define o tipo de arquivo para pré-visualizações iniciais
            initialPreviewConfig: [
            ],
            msgProcessing: 'Processando...', // Personalize o texto de processamento aqui

        });


        $(".products_new #featured_image").fileinput({
            theme: 'bs5', // Especifique o tema que deseja usar (por exemplo, 'fas' para Font Awesome)
            language: 'pt-BR', // Define o idioma para português do Brasil
            showRemove: true, // Adiciona botão de remoção para cada foto
            showUpload: false, // Define se o botão de upload deve ser exibido
            previewFileType: 'image', // Define o tipo de arquivo que deve ser pré-visualizado (neste caso, imagens)
            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif'], // Define as extensões de arquivo permitidas
            browseClass: 'btn btn-primary', // Define a classe do botão de navegação
            browseLabel: 'Selecionar imagens', // Define o rótulo do botão de navegação
            browseIcon: '<i class="bi bi-upload"></i>', // Define o ícone do botão de navegação
            maxFileCount: 1, // Define o número máximo de arquivos permitidos
            validateInitialCount: true, // Define se o número inicial de arquivos deve ser validado
            overwriteInitial: false, // Define se os arquivos iniciais devem ser substituídos
            initialPreviewAsData: true, // Define se as pré-visualizações iniciais devem ser tratadas como dados brutos
            initialPreviewFileType: 'image', // Define o tipo de arquivo para pré-visualizações iniciais
            msgProcessing: 'Processando...', // Personalize o texto de processamento aqui

        });


    });



</script>