<footer class="p-3">
    <div class="container-fluid">
        <p class="m-0">&copy; <%= new Date().getFullYear() %> Anne Marketplace. Todos os direitos reservados.</p>
    </div>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

