<div class="sidebar mt-4 ml-4">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                Home
            </a>
            </li>
            <li class="nav-item">
                <a href="/products" class="nav-link" aria-current="page">
                    Produtos
                </a>
            </li>
        </ul>
    </div>
</div>