<div class="sidebar bg-white rounded mt-4 ml-4">
    <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link <%= pageType === 'Painel' ? 'active' : '' %>" aria-current="page">
                    <i class="bi bi-house"></i>
                    Painel
                </a>
            </li>
            <li class="nav-item">
                <a href="/products" class="nav-link <%= pageType === 'Produtos' ? 'active' : '' %>" aria-current="page">
                    <i class="bi bi-bag"></i>
                    Produtos
                </a>
            </li>
            <li class="nav-item">
                <a href="/categories" class="nav-link <%= pageType === 'Categorias' ? 'active' : '' %>" aria-current="page">
                    <i class="bi bi-card-list"></i>
                    Categorias
                </a>
            </li>
            <li class="nav-item">
                <a href="/roles" class="nav-link <%= pageType === 'Roles' ? 'active' : '' %>" aria-current="page">
                    <i class="bi bi-person"></i>
                    Roles
                </a>
            </li>
        </ul>
    </div>
</div>